{% extends "layouts/default.html" %}
{% set title = "Give or refuse consent for a flu vaccination" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">{{ title }}</h1>

          <p class="nhsuk-u-margin-bottom-6">The vaccination helps to protect children against flu. It also protects others who are vulnerable to flu, such as babies and older people.</p>

          {{ button({
            text: 'Start now',
            href: paths.next
          }) }}

          <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">Use this service in another language</h2>

          <p>
            <a href="#">Change language (English)</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
