{% extends "layouts/email.html" %}
{% set subject = "Your child can have their HPV vaccination on " + (sessionDate | date("d MMMM")) %}
{% set name = parent.name or "Jane Doe" %}

{% block email %}
  <p>Dear {{ name }},</p>

  <p>Thanks for answering the health questions about {{ childName }}{{ knownAs }}. Our nurses have confirmed it’s safe for {{ childName.split(" ") | first }} to have the HPV vaccination.</p>

  <p>This will take place at {{ sessionSchool }} on {{ sessionDate | date("cccc d MMMM") }}. Please tell {{ childName.split(" ") | first }} that they’ll be vaccinated on this date.</p>

  <p>We’ll let you know once {{ childName.split(" ") | first }} is vaccinated.</p>

  <p>If {{ childName.split(" ") | first }}’s health changes, or you arrange to have the vaccination elsewhere, please get in touch. You can email {{ data.supportEmail | urlize | safe }} or call 01234 321456.</p>

  <p>The child health team</p>
{% endblock %}
