{% extends "layouts/email.html" %}
{% set subject = "HPV vaccine on " + (sessionDate | date("d MMMM")) %}
{% set name = parent.name or "Jane Doe" %}

{% block email %}
  <p>Dear {{ name }},</p>

  <p>You’ve told us you do not want {{ childName }}{{ knownAs }} to have their HPV vaccination at {{ sessionSchool }} on {{ sessionDate | date("cccc d MMMM") }}.</p>

  <p>If you change your mind, please get in touch with us. You can email {{ data.supportEmail | urlize | safe }} or call 01234 321456.</p>

  {#
    <p>If your child requests the HPV vaccine on the day of the session, a nurse will assess them for something called Gillick competence.</p>

    <p>If the nurse decides they’re sufficiently mature to understand the implications of getting the vaccine, they can still get it.</p>
  #}

  <p>The child health team</p>
{% endblock %}
