{% extends "layouts/email.html" %}
{% set subject = "You can get an HPV vaccination on " + (sessionDate | date("d MMMM")) %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>A team of nurses are coming to your school on {{ sessionDate | govukDate }} to offer everyone in Year 8 a vaccine that protects you from something called the human papillomavirus. This is known as ‘HPV’ for short.</p>

  <h2 class="nhsuk-heading-m">What is HPV?</h2>

  <p>HPV is a virus that most people will get at some point in their life. Some types of HPV cause cancer.</p>

  <h2 class="nhsuk-heading-m">Why does the NHS offer the vaccine?</h2>

  <p>The HPV vaccine helps to protect you against:</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>cervical cancer</li>
    <li>mouth and throat cancers</li>
    <li>cancers of the anal and genital areas</li>
  </ul>

  <p>It also helps to protect against genital warts.</p>

  <h2 class="nhsuk-heading-m">How does the vaccine work?</h2>

  <p>When the vaccine is injected into your body, your immune system makes antibodies. If you got HPV in the future, these antibodies would stop the virus from infecting your cells.</p>

  <p>The vaccine works best if it’s given before you’re sexually active.</p>

  <p>Young people usually only need 1 dose.</p>

  <h2 class="nhsuk-heading-m">How do I get the vaccine?</h2>

  <p>The nurses coming into school can only give you the vaccine if they have permission. We’ve contacted your parents and asked if they’re happy for you to have the vaccine.</p>

  <p>If they tell us they are happy, all you need to do is come to school as normal on {{ sessionDate | date("d MMMM") }}. One of the nurses will have a quick chat with you and then give you the vaccine.</p>

  <p>If your parents don’t get back to us, or if they say they’re not happy for you to have the vaccine, you can:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>decide not to have the vaccine</li>
    <li>give the nurses permission yourself</li>
  </ul>

  <p>If you want to give permission yourself, you can talk to a nurse on {{ sessionDate | date("d MMMM") }} and explain why you want the vaccine. If you go on to have the vaccine, your parents will get an email to let them know this has happened.</p>

  <h2 class="nhsuk-heading-m">What if I don’t want the vaccine?</h2>

  <p>You can ask your parents to let us know that you don’t want the vaccine.</p>

  <p>If they want you to have the vaccine but you don’t, you can say this to the nurse when you see them on {{ sessionDate | date("d MMMM") }}.</p>

  <h2 class="nhsuk-heading-m">What should I do now?</h2>

  <p>Have a read of <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1059900/UKHSA-HPV-vaccination-for-all-leaflet.pdf">the leaflet about HPV</a> that comes with this email to find out more about the HPV vaccine. We also suggest you talk to your parents about what you want.</p>

  <h2 class="nhsuk-heading-m">You can talk to your local health team</h2>

  <p>If you want to speak to someone from your local health team, you can call 01234 321456. You can also email example@nhs.uk.</p>
{% endblock %}
