{% extends "layouts/wizard.html" %}
{% set name = d('child.name') or 'Bobby Doe' %}

{% set title %}
  {% if vaccine == "HPV" %}
    {{ name }} will get the HPV vaccination at school
  {% else %}
    {{ name }} will get a nasal flu vaccination at school
  {% endif %}
{% endset %}

{% set hideButton = true %}
{% block pageNavigation %}{% endblock %}

{% block form %}
  <h1 class="nhsuk-heading-xl">{{ title }}</h1>

  <p>We’ve sent a confirmation to jane.doe@example.com.</p>

  <h2 class="nhsuk-heading-m">{{ vaccine | capitaliseFirstLetter }} vaccination</h2>

  {{ summaryList({
    rows: decorateRows([
      {
        key: { text: "Date" },
        value: { text: "Tuesday 21 November 2022" }
      },
      {
        key: { text: "Location" },
        value: { text: "Hele’s Secondary School" }
      } if secondary else {
        key: { text: "Location" },
        value: { text: "St Mary’s Primary School" }
      },
      {
        key: { text: "Vaccine" },
        value: { text: "Nasal flu vaccination" }
      } if vaccine == 'flu',
      {
        key: { text: "Vaccine" },
        value: { text: "HPV vaccination (1st dose)" }
      } if vaccine == 'HPV'
    ])
  }) }}

  {% if vaccine == 'HPV' %}
    <p>We’ll let you know when the 2nd dose will be given.</p>
  {% endif %}

  {% if d('health.mmr-consent') === 'Yes' %}
    <h2 class="nhsuk-heading-m">MMR catch-up</h2>

    <p>We’ll contact you to arrange an appointment at a catch-up clinic.</p>
  {% endif %}

  <h2 class="nhsuk-heading-s">If anything changes</h2>

  <p>[TODO] Contact the immunisation team</p>

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Do you need to give consent for another child?"
      }
    },
    items: [
      {
        text: 'Yes'
      },
      {
        text: 'No'
      },
      {
        text: 'I don’t know'
      }
    ],
    decorate: "consent"
  }) }}

  {{ button({
    text: 'Continue'
  }) }}

{% endblock %}
