{{ summaryList({
  classes: "app-summary-list--full-width",
  rows: decorateRows([
    {
      key: "Does your child have any severe allergies?",
      value: { html: healthAnswer("health.allergy") },
      href: basePath + "consent/health-allergy?change=true"
    },
    {
      key: "Does your child have any medical conditions for which they receive treatment?",
      value: { html: healthAnswer("health.medical-conditions") },
      href: basePath + "consent/health-medical-conditions?change=true"
    },
    {
      key: "Has your child ever had a severe reaction to any medicines, including vaccines?",
      value: { html: healthAnswer("health.previous-reaction") },
      href: basePath + "consent/health-previous-reaction?change=true"
    }
  ])
}) }}
