{% extends "layouts/wizard.html" %}
{% set title = "Check your answers and confirm" %}
{% set buttonText = "Confirm" %}
{% set basePath = "/" + (vaccine | lower) + "/" %}
{% set consented = (data.consent and data.consent | arrayOrStringIncludes("Yes, I agree")) or not data.consent %}
{% set gridClass = "nhsuk-grid-column-three-quarters" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set reasonHtml %}
    <p>{{ d("no-consent-reason") }}</p>
    {% if d("no-consent-reason-details") %}
      <p>{{ d("no-consent-reason-details") }}</p>
    {% endif %}
  {% endset %}

  {{ card({
    heading: "Consent",
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: decorateRows([
        {
          key: "Do you agree?",
          data: "consent",
          href: basePath + "consent/consent?change=true"
        } if d("consent"),
        {
          key: "3-in-1",
          data: "3-in-1-consent",
          href: basePath + "dpt/3-in-1-consent?change=true"
        } if d("3-in-1-consent"),
        {
          key: "MenACWY",
          data: "men-acwy-consent",
          href: basePath + "dpt/men-acwy-consent?change=true"
        } if d("men-acwy-consent"),
        {
          key: "Reason",
          value: { html: reasonHtml },
          href: basePath + "consent/no-consent-given?change=true"
        } if not consented,
        {
          key: "Alternative option",
          data: "im-consent",
          href: basePath + "im-consent?change=true"
        } if not consented and d("im-consent")
      ])
    })
  }) }}

  {% set addressHtml %}
    <p>
      {% if d("address.line1") %}{{ d("address.line1") }}{% endif %}
      {% if d("address.line2") %}<br />{{ d("address.line2") }}{% endif %}
      {% if d("address.level2") %}<br />{{ d("address.level2") }}{% endif %}
      {% if d("address.postal-code") %}<br />{{ d("address.postal-code") }}{% endif %}
    </p>
  {% endset %}

  {{ card({
    heading: "About your child",
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: decorateRows([
        {
          key: "Child’s name",
          value: childName,
          href: basePath + "consent/child?change=true"
        },
        {
          key: {  html: "Preferred first name" | noOrphans },
          data: "child.preferred-firstname",
          href: basePath + "consent/child?change=true"
        } if d("child.preferred-firstname"),
        {
          key: { html: "Preferred last name" | noOrphans },
          data: "child.preferred-lastname",
          href: basePath + "consent/child?change=true"
        } if d("child.preferred-lastname"),
        {
          key: "Date of birth",
          value: d("child.dob") | isoDateFromDateInput | govukDate,
          href: basePath + "consent/child-dob?change=true"
        } if d("child.dob"),
        {
          key: "Address",
          value: { html: addressHtml },
          href: basePath + "consent/address?change=true"
        } if consented,
        {
          key: "School",
          value: sessionSchool,
          href: basePath + "consent/school?change=true"
        },
        {
          key: "GP Surgery",
          data: "child.gp",
          href: basePath + "consent/child-gp?change=true"
        } if consented and d("child.gp") and d("child.has-gp") == "yes",
        {
          key: { html: "Registered with a GP" | noOrphans },
          value: d("child.has-gp") | capitaliseFirstLetter,
          href: basePath + "consent/child-gp?change=true"
        } if consented and d("child.has-gp") != "yes"
      ])
    })
  }) }}

  {{ card({
    heading: "About you",
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: summaryList({
      rows: decorateRows([
        {
          key: "Your name",
          data: "parent.name",
          href: basePath + "consent/parent-guardian?change=true"
        },
        {
          key: "Relationship",
          data: "parent.relationship",
          href: basePath + "consent/parent-guardian?change=true"
        },
        {
          key: "Email address",
          data: "parent.email",
          href: basePath + "consent/parent-guardian?change=true"
        },
        {
          key: "Phone number",
          value: { text: d("parent.telephone") | default("Not provided", true) },
          href: basePath + "consent/parent-guardian?change=true"
        },
        {
          key: "Get updates by text message",
          value: {
            text: "Yes" if d("parent.sms") else "No"
          },
          href: basePath + "consent/parent-guardian?change=true"
        },
        {
          key: "Phone contact method",
          value: {
            text: d("parent.accessibility") + " – " + d("parent.accessibility-details") if d("parent.accessibility") == "Other" else d("parent.accessibility") | default("Not provided", true)
          },
          href: basePath + "consent/telephone-contact-method?change=true"
        } if d("parent.telephone")
      ])
    })
  }) }}

  {% set descriptionHtml %}
    {% if vaccine == "HPV" %}
      {% include "consent/_summary-list-hpv.html" %}
    {% elif vaccine == "DPT" %}
      {% include "consent/_summary-list-dpt.html" %}
    {% else %}
      {% include "consent/_summary-list-flu.html" %}
    {% endif %}
  {% endset %}

  {{ card({
    heading: "Health questions",
    headingClasses: "nhsuk-heading-m",
    descriptionHtml: descriptionHtml
  }) if consented }}
{% endblock %}
