{% extends "layouts/wizard.html" %}
{% set title = "What is your child’s name?" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {{ input({
    label: {
      text: "Official name"
    },
    hint: {
      text: "The name on their birth certificate. If their name has changed, tell us their current name."
    },
    decorate: "child.name"
  }) }}

  {% set otherNameHtml %}
    {{ input({
      label: {
        text: "Known as"
      },
      decorate: "child.preferred-name"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Are they known by another name?"
      }
    },
    items: [
      {
        text: 'Yes',
        conditional: {
          html: otherNameHtml
        }
      },
      {
        text: 'No'
      }
    ],
    decorate: "child.preferred-name"
  }) }}

  {% if false and vaccine == 'HPV' %}
    {{ radios({
      fieldset: {
        legend: {
          text: "Sex"
        }
      },
      items: [
        {
          text: 'Female'
        },
        {
          text: 'Male'
        },
        {
          text: 'Prefer not to say'
        }
      ],
      decorate: "child.sex"
    }) }}
  {% endif %}
{% endblock %}
