{% extends "layouts/wizard.html" %}
{% set title = "What is your child’s name?" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  <p>Give the official name that’s on their passport or birth certificate. If their name has changed, tell us their current name.</p>

  {{ input({
    label: {
      text: "First name"
    },
    hint: {
      text: ""
    },
    decorate: "child.first-name"
  }) }}

  {{ input({
    label: {
      text: "Last name"
    },
    decorate: "child.last-name"
  }) }}

  {% set otherNameHtml %}
    {{ input({
      label: {
        text: "Known as"
      },
      decorate: "child.preferred-name"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Do they use a different name in school?"
      }
    },
    items: [
      {
        text: "Yes",
        conditional: {
          html: otherNameHtml
        }
      },
      {
        text: "No"
      }
    ],
    decorate: "child.preferred-name-choice"
  }) }}

  {% if false and vaccine == "HPV" %}
    {{ radios({
      fieldset: {
        legend: {
          text: "Sex"
        }
      },
      items: [
        {
          text: "Female"
        },
        {
          text: "Male"
        },
        {
          text: "Prefer not to say"
        }
      ],
      decorate: "child.sex"
    }) }}
  {% endif %}
{% endblock %}
