{% extends "layouts/wizard.html" %}
{% set title = "About your child" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {{ input({
    label: {
      text: "Name"
    },
    decorate: "child.name"
  }) }}

  {% set otherNameHtml %}
    {{ input({
      label: {
        text: "Preferred name"
      },
      decorate: "child.preferred-name"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Do they have a preferred name?"
      }
    },
    items: [
      {
        text: 'Yes',
        conditional: {
          html: otherNameHtml
        }
      },
      {
        text: 'No'
      }
    ],
    decorate: "child.preferred-name"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: "Sex"
      }
    },
    items: [
      {
        text: 'Female'
      },
      {
        text: 'Male'
      },
      {
        text: 'Prefer not to say'
      }
    ],
    decorate: "child.sex"
  }) }}
{% endblock %}
