{% extends "layouts/wizard.html" %}
{% set email = d("parent.email") or "jane.doe@example.com" %}
{% set 3in1consent = data["3-in-1-consent"] !== "No" %}
{% set menACWYconsent = data["men-acwy-consent"] !== "No" %}
{% set consentForBoth = 3in1consent and menACWYconsent %}

{% set title %}
  {% if vaccine == "HPV" %}
    {{ childName }} will get their HPV vaccination at school on {{ sessionDate | govukDate }}
  {% elseif vaccine == "DPT" %}
    {% if consentForBoth %}
      {{ childName }} will get their 3-in-1 teenage booster and MenACWY vaccinations at school on {{ sessionDate | govukDate }}
    {% elseif 3in1consent %}
      {{ childName }} will get their 3-in-1 teenage booster at school on {{ sessionDate | govukDate }}
    {% elseif menACWYconsent %}
      {{ childName }} will get their MenACWY vaccination at school on {{ sessionDate | govukDate }}
    {% endif %}
  {% else %}
    {{ childName }} will get their nasal flu vaccination at school on {{ sessionDate | govukDate }}
  {% endif %}
{% endset %}

{% set hideButton = true %}
{% block outerContent %}{% endblock %}

{% block form %}
  {{ govukPanel({
    titleHtml: title,
    classes: "app-panel nhsuk-u-margin-bottom-6"
  }) }}

  <p>We’ve sent confirmation to {{ email }}</p>
{% endblock %}
