{% extends "layouts/wizard.html" %}
{% set 3in1consent = data["3-in-1-consent"] !== "No" %}
{% set menACWYconsent = data["men-acwy-consent"] !== "No" %}
{% set consentForBoth = 3in1consent and menACWYconsent %}

{% set title %}
  {% if vaccine == "HPV" %}
    You’ve given consent for your child to get the HPV vaccination at school
  {% elseif vaccine == "DPT" %}
    {% if consentForBoth %}
      You’ve given consent for your child to get the 3-in-1 teenage booster and MenACWY vaccinations at school
    {% elseif 3in1consent %}
      You’ve given consent for your child to get the 3-in-1 teenage booster at school
    {% elseif menACWYconsent %}
      You’ve given consent for your child to get the MenACWY vaccination at school
    {% endif %}
  {% else %}
    You’ve given consent for your child to get a flu vaccination
  {% endif %}
{% endset %}

{% set hideButton = true %}
{% block outerContent %}{% endblock %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  <p>As you answered ‘yes’ to some of the health questions, we need to check
  the {% if vaccine == "DPT" and consentForBoth %}
    vaccinations are
  {% else %}
    vaccination is
  {% endif %} suitable for {{ childName }}. We’ll review your answers and
  get in touch again soon.</p>

  <p>We’ve sent confirmation of your consent to jane.doe@example.com.</p>
{% endblock %}
