{% extends "layouts/wizard.html" %}

{% set title %}
  {% if vaccine == "HPV" %}
    Do you agree to them having the HPV vaccination?
  {% else %}
    Do you agree to them having a nasal flu vaccination?
  {% endif %}
{% endset %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title,
        isPageHeading: true
      }
    },
    hint: {
      text: "Two doses will be given at least 6 months apart"
    } if vaccine == "HPV",
    hint: {
      text: "The nasal flu spray contains gelatine which comes from pigs."
    } if vaccine == "flu",
    items: [
      {
        text: "Yes, I agree to them having a nasal vaccine"
      } if vaccine == "flu" else {
        text: "Yes, I agree"
      },
      {
        text: "No"
      }
    ],
    decorate: "consent"
  }) }}
{% endblock %}
