{% extends "layouts/wizard.html" %}
{% set title = "Has your child had 2 doses of the MMR vaccine since the age of one?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title,
        isPageHeading: true
      }
    },
    items: [
      {
        text: 'Yes, they are up to date with their MMR vaccinations',
        value: 'Yes'
      },
      {
        text: 'No, they have not had 2 doses',
        value: 'No'
      }
    ],
    decorate: "health.had-mmr"
  }) }}
{% endblock %}
