{% extends "layouts/wizard.html" %}
{% set title = "Does your child have any allergies to medication?" %}

{% block form %}
  {% set html %}
    {{ textarea({
      label: {
        text: "Give details"
      },
      decorate: "health.medication-allergies-details"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title,
        isPageHeading: true
      }
    },
    items: [
      {
        text: "Yes",
        conditional: {
          html: html
        }
      },
      { text: "No" }
    ],
    decorate: "health.medication-allergies"
  }) }}
{% endblock %}
