{% extends "layouts/wizard.html" %}

{% set title = "Can we contact you to arrange a catch-up appointment for MMR?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title,
        isPageHeading: true
      }
    },
    hint: {
      text: 'The MMR vaccine is not given in school, but you can take your child to a catch-up clinic.'
    },
    items: [
      {
        text: 'Yes, you can contact me about an MMR catch-up vaccination',
        value: 'Yes'
      },
      {
        text: 'No'
      }
    ],
    decorate: "health.mmr-consent"
  }) }}
{% endblock %}
