{% extends "layouts/wizard.html" %}
{% set title = "Please tell us why you do not agree" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title,
        isPageHeading: true
      }
    },
    items: [
      { text: 'Vaccine contains gelatine from pigs' } if vaccine == "flu",
      { text: 'Vaccine already received' },
      { text: 'Vaccine will be given elsewhere' },
      { text: 'Medical reasons' },
      { text: 'Personal choice' },
      {
        divider: 'or'
      },
      {
        text: 'Other'
      }
    ],
    decorate: "no-consent-reason"
  }) }}

  {{ textarea({
    label: {
      text: "Give details (optional)"
    },
    decorate: "no-consent-reason-details"
  }) }}
{% endblock %}
