{% extends "layouts/wizard.html" %}
{% set title = "About you" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {{ input({
    label: {
      text: "Your name"
    },
    decorate: "parent.name"
  }) }}

  {% set other %}
    {{ input({
      label: {
        text: "Relationship to the child"
      },
      hint: {
        text: "For example, carer"
      },
      decorate: "parent.relationship-other"
    }) }}

    {{ radios({
      fieldset: {
        legend: {
          text: "Do you have parental responsibility?"
        }
      },
      hint: {
        text: "This means you have legal rights and duties relating to the child"
      },
      items: [
        { text: "Yes" },
        { text: "No" }
      ],
      decorate: "parent.has-responsibility"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Your relationship to the child"
      }
    },
    items: [
      { text: "Mum" },
      { text: "Dad" },
      { text: "Guardian" },
      {
        text: "Other",
        conditional: {
          html: other
        }
      }
    ],
    decorate: "parent.relationship"
  }) }}

  {{ input({
    label: {
      text: "Email address"
    },
    decorate: "parent.email"
  }) }}

  {{ input({
    label: {
      text: "Telephone number (optional)"
    },
    hint: {
      text: "A nurse might call you about your child’s vaccination"
    },
    decorate: "parent.telephone"
  }) }}
{% endblock %}
