{% extends "layouts/wizard.html" %}
{% set title = "About you" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {{ input({
    label: {
      text: "Your name"
    },
    decorate: "parent.name"
  }) }}

  {{ input({
    label: {
      text: "Telephone number"
    },
    decorate: "parent.telephone"
  }) }}

  {% set other %}
    {{ input({
      label: {
        text: "Give details of your relationship to the child"
      },
      hint: {
        text: 'You need parental responsibility to give consent'
      },
      decorate: "parent.relationship-other"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Your relationship to the child"
      }
    },
    items: [
      { text: 'Parent' },
      { text: 'Guardian' },
      {
        text: 'Other',
        conditional: {
          html: other
        }
      }
    ],
    decorate: "parent.relationship"
  }) }}
{% endblock %}
