{% extends "layouts/wizard.html" %}
{% set title = "About you" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  <p>We need some details before you give or refuse consent.</p>

  {{ input({
    label: {
      text: "Your name"
    },
    decorate: "parent.name"
  }) }}

  {{ input({
    label: {
      text: "Telephone number"
    },
    decorate: "parent.telephone"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: "Your relationship to the child"
      }
    },
    items: [
      { text: 'Parent' },
      { text: 'Guardian' },
      { text: 'Carer' }
    ],
    decorate: "parent.relationship"
  }) }}
{% endblock %}
