{% extends "layouts/wizard.html" %}
{% set title = "Confirm your child’s school" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set html %}
    <p>
      <span class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
        {% if secondary %}
          Hele’s Secondary School
        {% else %}
          St Mary’s Primary School
        {% endif %}
      </span>
      PL1 1AA
    </p>
  {% endset %}

  {{ insetText({
    HTML: html
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        text: "Is this their school?"
      }
    },
    items: [
      { text: 'Yes, they go to this school' },
      { text: 'No, I need to pick a different school' }
    ],
    decorate: "child.school"
  }) }}
{% endblock %}
