{% extends "layouts/default.html" %}
{% set title = "You cannot give or refuse consent through this service" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">{{ title }}</h1>

      <p>This service is being piloted with a small number of schools. It’s only for parents whose children attend participating schools.</p>

      <p>If you have any questions, please contact the local health team by calling 01234 321456, or email {{ data.supportEmail | urlize | safe }}.</p>
    </div>
  </div>
{% endblock %}
