{% extends "layouts/email.html" %}
{% set subject = "Flu vaccination on " + (sessionDate | date("d MMMM")) %}
{% set name = parent.name or "Jane Doe" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Dear {{ name }},</p>

  <p>You’ve said you agree to {{ childName }}{{ knownAs }} having their flu vaccination at {{ sessionSchool }} on {{ sessionDate | date("cccc d MMMM") }}.</p>

  <p>As you answered ‘yes’ to some of the health questions, we need to check the vaccination is suitable for {{ childName.split(" ") | first }}. We’ll review your answers and get in touch again soon.</p>

  <p>The child health team</p>
{% endblock %}
