{% extends "layouts/default.html" %}
{% set title = "Preview and send reminders" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Current campaigns",
        href: "/school/campaigns"
      }
    ],
    text: "Flu",
    href: "/school/campaign/flu"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        <span class="nhsuk-caption-xl">{{ sessionDate | govukDate }}</span>
        {{ title }}
      </h1>

      <p>Reminders will only be sent to people who have not responded.</p>
    </div>
  </div>

  {% set html %}
    <div class="govuk-grid-row nhsuk-u-margin-top-6">
      <div class="govuk-grid-column-two-thirds">
        <p>
          We wrote to you recently about a visit by a local health team to <b>St Mary’s Primary School</b> on {{ sessionDate | date("cccc d MMMM") }}.
        </p>

        <p>If you want your child to receive a flu vaccine during this visit, you need to give consent by {{ deadlineDate | date("cccc d MMMM") }} (2 days before the vaccination).</p>

        <p>This will take less than 5 minutes.</p>

        <p>
          <a href="/start">Give or refuse consent for the flu vaccination</a>
        </p>

        <p>If you do not give consent, it’s still important for us to know.</p>

        <h2 class="nhsuk-heading-m">If your child misses their vaccine</h2>

        <p>You can book a flu vaccine at a catch-up clinic run by the local health team.</p>

        <p>Speak to them by calling 01234 321456, or email {{ data.supportEmail | urlize | safe }}.</p>

        <h2 class="nhsuk-heading-m">About the flu vaccine</h2>

        <p>The vaccination is given as a painless spray into each nostril. It is safe and effective in helping to protect children against flu.</p>

        <p>Flu is caused by the influenza virus, which children can catch and spread easily. It can lead to serious problems, such as bronchitis and pneumonia.</p>

        <p>Vaccinating children also protects others who are vulnerable to flu, such as babies and older people.</p>

        <p>The vaccine is offered annually. This academic year, it will be offered to children in all year groups from Reception through to Year 6.</p>

        <p>
          <a href="https://www.nhs.uk/conditions/vaccinations/child-flu-vaccine/">Find out more about the flu vaccine on NHS.UK</a>
        </p>
      </div>
    </div>
  {% endset %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{ button({
        text: "Send reminders"
      }) }}

      <h2 class="nhsuk-heading-m">Preview</h2>
      {{ card({
        heading: "Subject: Respond to our request for consent by " + (sessionDate | date("d MMMM")),
        headingLevel: 2,
        descriptionHtml: html
      }) }}
    </div>
  </div>
{% endblock %}
