{% extends "layouts/default.html" %}
{% set title = "Give or refuse consent for an HPV vaccination" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">{{ title }}</h1>

          <p>The HPV vaccine helps protect against cancers caused by the human papillomavirus (HPV), including:</p>

          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>cervical cancer</li>
            <li>some mouth and throat cancers</li>
            <li>some cancers of the anal and genital areas</li>
          </ul>

          <p>It also helps protect against genital warts.</p>

          <p>The HPV vaccine is given as 2 injections into the upper arm spaced at least 6 months apart.</p>

          <p>The 1st dose of the vaccine is offered to girls and boys aged 12 and 13 in school Year 8. The 2nd dose is offered 6 to 24 months after the 1st dose.</p>

          <p class="nhsuk-u-margin-bottom-6">It’s important to have both doses of the vaccine to be properly protected.</p>

          {{ button({
            text: 'Start now',
            href: paths.next
          }) }}

          <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">Use this service in another language</h2>

          <p>
            <a href="#">Change language (English)</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
