{% extends "layouts/default.html" %}
{% set title = "Current vaccination campaigns" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">{{ title }}</h1>

          <h2 class="nhsuk-heading-l">
            <a href="/school/campaign/flu">Flu vaccine – {{ sessionDate | govukDate }}</a>
          </h2>

          <h2 class="nhsuk-heading-l">
            <a href="#">HPV vaccine – 4 December 2022</a>
          </h2>
      </div>
    </main>
  </div>
{% endblock %}
