<h2 class="nhsuk-heading-m">About the HPV vaccine</h2>

<p>The HPV vaccine helps protect against cancers caused by HPV, including:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>cervical cancer</li>
  <li>some mouth and throat (head and neck) cancers</li>
  <li>some cancers of the anal and genital areas</li>
</ul>

<p>It also helps protect against genital warts.</p>

<p>Girls and boys in England are offered the 1st HPV vaccination when they're in Year 8. The 2nd dose is offered 6 to 24 months later.</p>

<p>It’s important to have both doses of the vaccine to be properly protected.</p>

<p><a href="https://www.nhs.uk/conditions/vaccinations/hpv-human-papillomavirus-vaccine/child-flu-vaccine/">Find out more about the HPV vaccine on NHS.UK</a></p>
