{% extends "layouts/email.html" %}
{% set subject = "Flu vaccination on 24 November" %}
{% set name = parent.name or "Jane Doe" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Dear {{ name }},</p>

  <p>You’ve told us you do not want {{ childName }} to have their flu vaccination at Boringdon Primary School on Monday 24 November because of the gelatine in the nasal spray.</p>

  <p>A nurse will be in touch to talk about the possibility of them having an injection instead.</p>

  <p>The child health team</p>
{% endblock %}
