{% extends "layouts/email.html" %}
{% set subject = "Please respond to our request for consent by 5 October" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>We wrote to you recently about a visit by a local health team to [name of school] on Tuesday 6 October.</p>

  <p>If you want your child to get the flu vaccine during this visit, you need to give consent by Monday 5 October.</p>

  <p>
    <a href="/flu/start">Give or refuse consent for the flu vaccination</a>
  </p>

  <p>This will take less than 5 minutes. If you do not give consent, it’s still important for you to respond.</p>

  <h2 class="nhsuk-heading-m">About the flu vaccine</h2>

  <p>The vaccination is a quick and painless spray up the nose. Even if your child had the vaccine last year, the type of flu can vary each winter, so it is recommended to have it again this year.</p>

  <p>The nasal spray contains gelatine. If your child does not use gelatine products, they could have an injection instead.</p>

  <p><a href="https://www.nhs.uk/conditions/vaccinations/child-flu-vaccine/">Find out more about the flu vaccine on NHS.UK</a></p>

  {% include 'emails/_contact.html' %}
{% endblock %}
