{% extends "layouts/email.html" %}
{% set subject = "Flu vaccination on 24 November" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Your local health team are coming to [name of school] on Monday 24 November 2023 to give this year’s flu vaccine.</p>

  <h2 class="nhsuk-heading-m">What the vaccine is for</h2>

  <p>The vaccine protects against flu, which can cause serious health problems.</p>

  <p>By preventing the spread of flu, the vaccine also protects others who are vulnerable, such as babies and older people.</p>

  <h2 class="nhsuk-heading-m">Please give or refuse consent</h2>

  <p>If you want your child to get this vaccine at school, you need to give consent by Monday 2 October.</p>

  <p>
    <a href="/flu/start">Give or refuse consent for the flu vaccination</a>
  </p>

  <h2 class="nhsuk-heading-m">About the flu vaccine</h2>

  <p>The vaccination is a quick and painless spray up the nose. Even if your child had the vaccine last year, the type of flu can vary each winter, so it is recommended to have it again this year.</p>

  <p>The nasal spray contains gelatine. If your child does not use gelatine products, they could have an injection instead.</p>

  <p><a href="https://www.nhs.uk/conditions/vaccinations/child-flu-vaccine/">Find out more about the flu vaccine on NHS.UK</a></p>

  {% include 'emails/_contact.html' %}
{% endblock %}
