{% extends "layouts/email.html" %}
{% set subject = "Flu vaccination on " + (sessionDate | date("d MMMM")) %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Your local health team are coming to {{ sessionSchool }} on {{ sessionDate | date("cccc d MMMM") }} to give this year’s flu vaccine.</p>

  <h2 class="nhsuk-heading-m">What the vaccine is for</h2>

  <p>The vaccine protects against flu, which can cause serious health problems.</p>

  <p>By preventing the spread of flu, the vaccine also protects others who are vulnerable, such as babies and older people.</p>

  <p>The vaccination is a quick and painless spray up the nose. Even if your child had the vaccine last year, the type of flu can vary each winter, so it is recommended to have it again this year.</p>

  <h2 class="nhsuk-heading-m">Please give or refuse consent</h2>

  <p>If you want your child to get this vaccine at school, you need to give consent by {{ deadlineDate | date("cccc d MMMM") }}.</p>

  <p>
    <a href="/flu/start">Give or refuse consent for the flu vaccination</a>
  </p>

  <p>Responding will take less than 5 minutes.</p>

  <h2 class="nhsuk-heading-m">About the flu vaccine</h2>

  <p>The nasal spray contains gelatine. If your child does not use gelatine products, or the nasal spray is not suitable for medical reasons, they could have an injection instead.</p>

  <p>The nasal spray gives children the best protection against flu. However, the injected vaccine is a good alternative if the nasal spray vaccine cannot be used.</p>

  <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1165161/UKHSA-12652-protecting-your-child-against-flu-information-for-parents-and-carers.pdf">Find out more about protecting your child against flu</a></p>

  <p><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1107767/UKHSA-12462-vaccines-porcine-gelatine-English.pdf">Find out more about the use of gelatine in the flu vaccine (including the views of faith communities)</a></p>
  {% include "emails/_contact.html" %}
{% endblock %}
