{% extends "layouts/email.html" %}
{% set subject = childName + " will get their flu vaccination on " + (sessionDate | date("cccc d MMMM")) %}
{% set name = parent.name or "Jane Doe" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Dear {{ name }},</p>

  <p>This is a quick reminder that {{ childName }} will get their flu vaccination at {{ sessionSchool }} on {{ sessionDate | date("cccc d MMMM") }}.</p>

  <p>If you haven’t already told {{ childName.split(" ") | first }} that they’ll be vaccinated on this date, please do so.</p>

  <p>If {{ childName.split(" ") | first }}’s health changes, or you arrange to have the vaccination elsewhere, please get in touch. You can email example@nhs.uk or call 01234 321456.</p>

  <p>The child health team</p>
{% endblock %}
