{% extends "layouts/email.html" %}
{% set subject = "HPV vaccination on 6 June" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>Your local health team are coming to [name of school] on Tuesday 6 June 2023 to give the first dose of the human papillomavirus (HPV) vaccine to pupils in Year 8.</p>

  <h2 class="nhsuk-heading-m">Please give or refuse consent</h2>

  <p>If you want your child to receive this vaccine at school, you need to give consent by Friday 2 June.</p>

  <p>
    <a href="/hpv/start">Give or refuse consent for the HPV vaccination</a>
  </p>

  {% include 'emails/_hpv-about.html' %}

  <h2 class="nhsuk-heading-m">Talk to your child about what they want</h2>

  <p>We suggest you talk to your child about the vaccine before you respond to us. If they want to have the vaccine, they have the right to request this themselves.</p>

  {% include 'emails/_contact.html' %}
{% endblock %}
