{% extends "layouts/email.html" %}
{% set subject = "Please respond to our request for consent by 2 June" %}
{% set from = "School vaccinations <school.vaccinations@nhs.net>" %}

{% block email %}
  <p>We wrote to you recently about a visit by a local health team to [name of school] on Tuesday 6 June 2023.</p>

  <p>If you want your child to receive an HPV vaccine during this visit, you need to give consent by Friday 2 June.</p>

  <p>
    <a href="/hpv/start">Give or refuse consent for the HPV vaccination</a>
  </p>

  <p>This will take less than 5 minutes. If you do not give consent, it’s still important for you to respond.</p>

  <h2 class="nhsuk-heading-m">About the HPV vaccine</h2>

  <p>The HPV vaccine helps protect against cancers caused by HPV, including:</p>

  <ul class="nhsuk-list nhsuk-list--bullet">
    <li>cervical cancer</li>
    <li>some mouth and throat (head and neck) cancers</li>
    <li>some cancers of the anal and genital areas</li>
  </ul>

  <p>It also helps protect against genital warts.</p>

  <p>The HPV vaccine works best if it’s given before young people become sexually active.</p>

  <p>Girls and boys in England are offered the 1st HPV vaccination when they’re in Year 8. The 2nd dose is offered 6 to 24 months later.</p>

  <p>It’s important to have both doses of the vaccine to be properly protected.</p>

  <p><a href="https://www.nhs.uk/conditions/vaccinations/hpv-human-papillomavirus-vaccine/">Find out more about the HPV vaccine on NHS.UK</a></p>


  <h2 class="nhsuk-heading-m">Talk to your child about what they want</h2>

  <p>We suggest you talk to your child about the vaccine before you respond to us. If they want to have the vaccine, they have the right to request this themselves.</p>

  {% include 'emails/_contact.html' %}
{% endblock %}
