{% extends "layouts/default.html" %}

{% set title = "NHS.UK Prototype Rig" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">{{ serviceName + " prototypes" }}</h1>

          <h2 class="nhsuk-heading-m">Consent journeys</h2>
          <ul class="nhsuk-list">
            <li><a href="/flu/start">Give or refuse consent for a flu vaccination</a></li>
            <li><a href="/hpv/start">Give or refuse consent for an HPV vaccination</a></li>
            <li><a href="/dpt/start">Give or refuse consent for the 3-in-1 teenage booster and MenACWY vaccine</a></li>
          </ul>

          <h2 class="nhsuk-heading-m">Emails</h2>
          <ul class="nhsuk-list">
            <li><a href="/emails/hpv-consent">Request consent for HPV vaccination</a></li>
            <li><a href="/emails/old-hpv-consent">Old: Request consent for HPV vaccination</a></li>
            <li><a href="/emails/hpv-reminder">Reminder about consent for HPV vaccination</a></li>
            <li><a href="/emails/hpv-student">Email for students about HPV vaccination</a></li>
            <li><a href="/emails/old-hpv-student">Old: Email for students about HPV vaccination</a></li>
            <li><a href="/emails/hpv-consent-confirmation">Confirmation of agreement for HPV vaccination</a></li>
            <li><a href="/emails/hpv-vaccine-given">Vaccine given</a></li>
          </ul>

          <h2 class="nhsuk-heading-m">School journeys</h2>
          <p>The journeys in these prototypes are not connected:</p>
          <ul class="nhsuk-list">
            <li><a href="/school/campaign/flu-preview">Flu consent request email</a></li>
            <li><a href="/school/campaign/flu-reminder-preview">Flu consent reminder email</a></li>
            <li><a href="/school/start">Send consent requests for vaccinations</a></li>
            <li><a href="/school/campaigns">Current vaccination campaigns</a></li>
          </ul>

          <h2 class="nhsuk-heading-m">SAIS journeys</h2>
          <p>The journeys in these prototypes are not connected:</p>
          <ul class="nhsuk-list">
            <li><a href="/sais/campaigns">School vaccination campaigns</a></li>
          </ul>

          <h2 class="nhsuk-heading-m">Other prototypes</h2>

          <p><a href="https://poc-prototype.herokuapp.com/">Point of care prototype</a></p>

          <h2 class="nhsuk-heading-m">Design history</h2>
          <p>
            <a href="http://good-machine-design-history.herokuapp.com/">Design history</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
