{% extends "layouts/default.html" %}

{% set bodyClasses = "app-texts" %}
{% set mainClasses = "app-texts__messages" %}
{% set containerClasses = "nhsuk-width-container--texts" %}
{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>
  {% for message in messages %}
    <h2 class="nhsuk-heading-s">{{ message.name }}</h2>
    <article class="app-texts__message">
      <p>{{ message.text | nl2br | urlize | safe }}</p>
    </article>
  {% endfor %}
{% endblock %}
